body {
	background-image: url("img/circle.png");
	font-family:'Ruluko';
	font-size: 3.5em;
	/*text-decoration: underline;*/
	text-align: center; 
	font-weight: bolder;
}

#shoe_box {
	background-color: rgba(114, 114, 114, .7);
	color: white;
	border-radius: 10px;
	border-style: solid;
	
	border-width: 1px;
	width: 330px;
	margin: 0 auto;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#shoe_box:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

}

.shoe_title {
	font-family: 'Ruluko';
	font-size: 2.2em;
	text-align: center; 
	font-weight: bold;
}
.shoe_price, .shoe_location, .shoe_brand, .shoe_size {
	font-family: 'Ruluko', 'Ruluko', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin-top: -5px;
	margin-bottom: -5px;
}
#welcomez{
	font-family:'Ruluko';
	font-size: 30px;
	padding-top: 60px;
}


/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*
PUBLISHED VERSION*/




/*=======================================
    GENERAL STYLES
==================================================*/
body {
           font-family: 'Ruluko', sans-serif;
    font-size:14px;
}

.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}

.text-center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Ruluko', sans-serif;
   font-weight: bold;
}

h1 {
    line-height:120px;
    text-transform:uppercase;
    color: gray;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
h3 {
    line-height:30px;
    padding-bottom:10px;
}
h4 {
    line-height:40px;
    padding-bottom:40px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:20px;
}

.space-pad {
    padding-bottom:50px;
}


.for-full-back {
    
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

  filter: alpha(opacity=90);


  -moz-opacity: 0.9;


  -khtml-opacity: 0.9;


  opacity: 0.9;
}

section {
    padding-top:30px;
    padding-bottom:120px;
}

/*=======================================
    COLOR CODES
==================================================*/
.color-white {
   background-color:#fff!important;
}
.color-dark {
   background-color:#696969!important;
}

.color-light {
   background-color:#B2BAC2!important;
}
.main-color-red {
    color: #406c76;
}
/*=======================================
    HEADER STYLES
==================================================*/
.head-main {
    font-size:120px !important;
    font-weight:900!important;
    color:#fff!important;
    padding:0px 20px 20px 20px;
}
.head-sub-main {
    font-size:40px !important;
    font-weight:600!important;
    color:#fff!important;
    padding:5px 20px 30px 20px;
}
.head-last {
  
    padding:5px 20px 200px 20px;
}

/*=======================================
    NAVIGATION STYLES
==================================================*/


nav {
	position: absolute;
	width: 100%;
    background: #fff;
    z-index:99;
}
.fixed {
	position: fixed; 
	top: 0; 
	min-height: 50px; 
	z-index: 99;
}

.navbar-inverse {
background-color: #99BFC4;
border-color: #68969C;
opacity: .95;
}

/*=======================================
    WORDS /ABOUT STYLES
==================================================*/

.about-div {
	width: 100%;
min-height: 100px;
background-color: rgba(209, 209, 209, 0.24);
box-shadow: none;
border: 0;
padding: 50px 20px 30px 20px;
margin-bottom:20px;
border-radius: 5px;
}
#Parallax-one {
    background-image: url("../img/2.jpg");
padding: 0;
background-repeat: no-repeat;
background-position: center 0;
background-size: cover;
background-attachment: fixed;
min-height:200px;
}
.for-parallax-one {
    
    color:white;
    padding:40px 20px 40px 20px;
    font-size:25px;
}

.about{
  font-size:20px;
}


/*=======================================
    Portfolio STYLES
==================================================*/


.plan {
    background: #eef1f3;
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;
    border-radius: 10px;
  
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.plan:hover {
          -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}

.plan li {
    padding: 15px 0px;
    color: #434749;
    border-top: 0px dashed #000;
}

.plan li.plan-head {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
   padding: 15px 0px;
background-color: #585858;
color: #FFFFFF;
line-height: 20px;
font-size: 20px;
font-weight: 600;
border: none;
   }

.plan li.main-price {
   padding: 0px 0px;
background-color: #BEBEBE;
color: #7e4a5a;
border: none;
font-weight: 900;
font-size: 30px;
}
#Parallax-two {
    background-image: url("../img/3.jpg");
padding: 0;
background-repeat: no-repeat;
background-position: center 0;
background-size: cover;
background-attachment: fixed;
min-height:200px;
}
.for-parallax-two {
    
    color:#fff;
    padding:40px 20px 40px 20px;
    font-size:25px;
}

.resume {
margin-bottom:10px;
font-size:25px;
color:black;

}

.resume:link{
  margin-bottom:10px;
  color:black;
  font-size:25px;
}
/*=======================================
    CONTACT STYLES
==================================================*/

#social-icon a {
    color:#616161!important;
    margin-right:10px;
}
.contact-cls {
    font-size:20px;
    line-height:40px;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
    background-color:#000;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}
#homebutton:hover{
  background-color: #406c76;
  border-radius: 10px;
}
#aboutbutton:hover{
  background-color: #406c76;
  border-radius: 10px;
}
#portbutton:hover{
  background-color: #406c76;
  border-radius: 10px;
}
#contactbutton:hover{
  background-color: #406c76;
  border-radius: 10px;
}

#pictitle{
  opacity: 1.0;
  color: #99BFC4;
  font-weight: bold;

}
.viewbut:hover{
  background-color: #99BFC4;
  border-color:#99BFC4; 
}


