

body { background-image: src="img/ar.png"
; }

h2 { color: green;
	 text-decoration: underline }
body { font-family: 'Pangolin', cursive;
 }
<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

