body{
	margin: 40px;
	background-color: #D1D1D1; 
	font-family: 'Work Sans';
}

#section{
	background-color: #EEEEEE;
	
	border: 0px solid gray;
	width:32%;
	height:240px;
	padding-top:10px;
	margin-top:10px;
	margin-right:0px;
	margin-bottom:0px;
	float: left;
	text-align: center;
	position: relative;
/*	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;*/
	font-size:13px;	
}
#section:hover{
	background-color: #868686; 
}

#title{
font-size: 50px;
	text-align: center;
}
#subtitle{
	text-align: center; 
	
	margin-bottom: 10px;
}


#map-canvas {
    width: 97%;
    height: 630px;
 /*   float: left;*/
   /* clear:left;*/
/*	position: relative;*/
	margin-top:20px;
	padding-top:60px
	margin-right 0px;
  }
#allDay{
	
	font-size: 19px;

}

#allTemp{
	font-size: 22px;
	font-weight:bold;

}

#goButton{
	width:50px;
	height:30px;
	background-color: #868686; 
	border-radius: 20px;
	border: 0px;
}
#goButton:hover{
	background-color: #EEEEEE; 
}

#pics{
	width: 70px;
	height: 70px;
}
